.abcd {
  /* border: 1px solid black; */
  padding: 70px 150px;
  height: 100%;
  align-items: center;
  align-content: center;
  background-color: rgb(233, 186, 204);
}
.efgh {
  padding: 40px 30px;
  background-color: rgb(248, 244, 248);
}


@media (max-width: 600px) {
  .abcd {
    padding: 50px 50px;
  }
}
@media (max-width: 400px) {
  .abcd {
    padding: 30px 30px;
  }
}
